# macOS
.DS_Store

# neomake
.*@neomake*

# universal-ctags
tags
tags.lock
tags.temp

# node
node_modules

# LibreOffice locks
.~lock.*#

# WSL stuff
*Zone.Identifier

# Kitty backup file
kitty.conf.bak

# Local nvim config
local.nvimrc

# IntelliJ
.idea
